{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1 class="text-center my-4">Pallet Town Pet Adoption</h1>
<div class="text-center mb-4">
    <a href="/new_pet" class="btn btn-success btn-lg text-center" role="button">Add a New Pet</a>
</div>
<div class="container">
    <div class="row">
        {% for pet in pets %}


        <div class="col-sm-4">
            <img class="img-fluid" src="{{pet.photo_url}}" alt="Image of {{pet.name}}, a {{pet.species}}">
            <p><a href="/pets/{{pet.name}}/{{pet.id}}">{{pet.name}}</a> is {% if pet.available == True %}Available!{%
                else %}Not
                Available{% endif %}</p>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}