{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<h1 class="text-center">Pallet Town Pet Adoption</h1>

<div class="container">
    <div class="row">
        {% for pet in pets %}


        <div class="col-sm-4">
            <img class="img-fluid" src="{{pet.photo_url}}" alt="Image of {{pet.name}}, a {{pet.species}}">
            <p><a href="/pets/{{pet.name}}/{{pet.id}}">{{pet.name}}</a> is {% if pet.available == True %}Available!{%
                else %}Not
                Available{% endif %}</p>
        </div>

        {% endfor %}
    </div>
</div>
<form>
    <button>Add Pet</button>
</form>

{% endblock %}