{% extends 'base.html' %}

{% block title %}{{pet.name}}{% endblock %}

{% block content %}

<h1 class="text-center my-4">{{pet.name}}</h1>
<div class="container">
    <img class="img-fluid" src="{{pet.photo_url}}" alt="Image of {{pet.name}}, a {{pet.species}}">
    <p class="text-center">{{pet.name}} is a {{pet.age}} year old {{pet.species}}.</p>
    {% if pet.notes != None %}
    <p class="text-center">Notes: {{pet.notes}}</p>
    {% endif %}
    {% if pet.available == True %}
    <p class="text-center">Availability: {{pet.name}} is currently available!</p>
    {% else %}
    <p class="text-center">Availability: {{pet.name}} is not available at the moment.</p>
    {% endif %}
</div>


<h2 class="text-center">Need to Edit {{pet.name}}?</h2>
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="form-group col-md-8">
            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group mt-3">
                    {{form.name.label}}
                    {{form.name(class_='form-control')}}
                    {% for err in form.name.errors %}
                    <small class="form-text text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{form.photo_url.label}}
                    {{form.photo_url(class_='form-control')}}
                    {% for err in form.photo_url.errors %}
                    <small class="form-text text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{form.age.label}}
                    {{form.age(class_='form-control')}}
                    {% for err in form.age.errors %}
                    <small class="form-text text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                </div>
                <div class="form-group mt-3">
                    {{form.notes.label}}
                    {{form.notes(class_='form-control')}}
                    {% for err in form.notes.errors %}
                    <small class="form-text text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                </div>
                <div class="form-check mt-3">
                    {{form.available.label}}
                    {{form.available(class_="form-check-input")}}
                    {% for err in form.available.errors %}
                    <small class="form-text text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                </div>
                <div class="mt-3">
                    <button class="btn  btn-success  btn-lg">Edit</button>
                    <a href="/" class="btn btn-warning btn-lg">Home</a>
                    <a href="/delete/{{pet.id}}" class="btn btn-danger btn-lg">Delete</a>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}